<div id="wg-api-football-games"
     data-host="v3.football.api-sports.io"
     data-key="bc842ba5c7msh185cc08b74c79dbp1d9831jsn65f910a87093"
     data-date="2023-02-15"
     data-league="false"
     data-season="false"
     data-theme="false"
     data-refresh="15"
     data-show-toolbar="true"
     data-show-errors="false"
     data-show-logos="true"
     data-modal-game="true"
     data-modal-standings="true"
     data-modal-show-logos="true">
</div>
<script
    type="module"
    src="https://widgets.api-sports.io/2.0.3/widgets.js">
</script>
